# Testing file for oil and exchange data

In [1]:
# Import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, date, time, timedelta

from functions_nico.nico_preprocessing import load_data, merge_oil, merge_ex_rate, get_oil_euro

In [2]:

df = load_data("data/fueldata/wertheim_23-25.parquet") # Load fuel data
df = merge_oil(df)                                     # Include oil data
df = merge_ex_rate(df)                                 # Include exchange rates
get_oil_euro(df)                                       # Calculate oil price in euro
df.tail()

,station_uuid,name,datetime,e5,oilprice,oilprice_monthly_avg,exchange_rate,oilprice_euro
2143092,fb0f8030-c1eb-4df1-9410-054eea7422ad,Aral Tankstelle,2025-05-25 22:40:00,1.679,65.41,64.23,1.1301,57.88
2143093,fb0f8030-c1eb-4df1-9410-054eea7422ad,Aral Tankstelle,2025-05-25 22:45:00,1.679,65.41,64.23,1.1301,57.88
2143094,fb0f8030-c1eb-4df1-9410-054eea7422ad,Aral Tankstelle,2025-05-25 22:50:00,1.679,65.41,64.23,1.1301,57.88
2143095,fb0f8030-c1eb-4df1-9410-054eea7422ad,Aral Tankstelle,2025-05-25 22:55:00,1.679,65.41,64.23,1.1301,57.88
2143096,fb0f8030-c1eb-4df1-9410-054eea7422ad,Aral Tankstelle,2025-05-25 23:00:00,1.679,65.41,64.23,1.1301,57.88